In [1]:
import scanpy as sc
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

# Save Path

In [2]:
import os
from pathlib import Path

In [3]:
outputs_folder = Path('C:\\Users\\User\\Desktop\\論文\\Code')
# 將分析的結果儲存到 outputs_folder 中
results_file = outputs_folder / 'test.h5ad'

In [4]:
import pathlib
print(pathlib.Path().absolute())

C:\Users\User\Desktop\論文\Code

# Step 1 Data Prepocessing, Normalize, Dimension Reduction

In [20]:
adata = sc.read_mtx("C:\\Users\\User\\Desktop\\論文\\PBMC_Data\\GSE180578(10 healthy)\\HD1_HD2_PBMC\\matrix.mtx")

gene = pd.read_table("C:\\Users\\User\\Desktop\\論文\\PBMC_Data\\GSE180578(10 healthy)\\HD1_HD2_PBMC\\features.tsv", header = None)

barcode = pd.read_table("C:\\Users\\User\\Desktop\\論文\\PBMC_Data\\GSE180578(10 healthy)\\HD1_HD2_PBMC\\barcodes.tsv", header = None)

In [21]:
gene
#barcode
#adata.T
#print(gene)

                     0            1                2
0      ENSG00000243485  MIR1302-2HG  Gene Expression
1      ENSG00000237613      FAM138A  Gene Expression
2      ENSG00000186092        OR4F5  Gene Expression
3      ENSG00000238009   AL627309.1  Gene Expression
4      ENSG00000239945   AL627309.3  Gene Expression
...                ...          ...              ...
33534  ENSG00000275063   AC233755.1  Gene Expression
33535  ENSG00000271254   AC240274.1  Gene Expression
33536  ENSG00000277475   AC213203.1  Gene Expression
33537  ENSG00000268674      FAM231C  Gene Expression
33538         SARSCOV2     SARSCOV2  Gene Expression

[33539 rows x 3 columns]

In [31]:
if 'run' not in globals():
    run = False
if not run:
    adata = adata.T
    gene = np.array(gene[1])
    barcode = np.array(barcode[0])
    
    run = True
else:
    print("已經執行過！")

In [30]:
gene

In [32]:
adata.obs_names = barcode
adata.var_names = gene

In [33]:
sc.pp.filter_cells(adata, min_genes=200)
sc.pp.filter_genes(adata, min_cells=3)
adata

D:\Python(Anaconda)\Anaconda python\lib\site-packages\anndata\_core\anndata.py:1830: UserWarning: Variable names are not unique. To make them unique, call `.var_names_make_unique`.
  utils.warn_names_duplicates("var")

AnnData object with n_obs × n_vars = 4296 × 15661
    obs: 'n_genes'
    var: 'n_cells'

In [36]:
adata.var

            n_cells
AL669831.5       73
LINC00115        67
FAM41C           18
NOC2L           364
KLHL17           16
...             ...
AL592183.1       10
AC004556.1      139
AC233755.2        4
AC233755.1       11
AC240274.1       22

[15661 rows x 1 columns]

# Write h5ad格式

In [11]:
#adata.write('pbmc.h5ad')

In [13]:
# read h5ad file

#test = sc.read_h5ad('pbmc.h5ad')
#test

AnnData object with n_obs × n_vars = 4296 × 15661
    obs: 'n_genes'
    var: 'n_cells'